{% extends "plantilla.html" %}

{% block body %}
<h1>Sistema de usuario y contraseña!</h1>
 <form action="" method="post">
    <label for="nombre">Nombre de Usuario: </label>
    <input type="text" id="nombre" name="usuario">
    <br>
    <br>
    <label for="contraseña">Contraseña: </label>
    <input type="password" name="c_usuario" id="contraseña">
    <br>
    <br>
    <label for="ingresar"></label>
    <input type="submit" id="ingresar" name="submit" value="INGRESAR">
    <br>
    <br>
    <h2> Aca el ingreso a usuarios sin registrar </h2>
    <label for="sinRegistro"></label>
    <input type="submit" id="sinRegistro" name="submit" value="INGRESAR">
    
 </form>
{% endblock %}