{% extends "plantilla.html" %}
<!DOCTYPE html>
<html >
    <head>
    </head>

    <body>
        {% block body %}
        <h1>Formulario para modificar el contenido de una pelicula</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <form action="" method="post">
            <label for="pelicula"> Pelicula: </label>
            <input type="text" name="pelicula" value="" required>
            <br>
            <br>
            <br>
            <label for="anio"> Año: </label>
            <input type="text" name="anio" value="">
            <br>
            <br>
            <br>
            <label for="director"> Director: </label>
            <input type="text" name="director" value="">
            <br>
            <br>
            <br>
            <label for="genero"> Genero: </label>
            <input type="text" name="genero" value="">
            <br>
            <br>
            <br>
            <label for="sinopsis"> Sinopsis: </label>
            <input type="text" name="sinopsis" value="">
            <br>
            <br>
            <br>
            <label for="imagen"> Imagen: </label>
            <input type="text" name="imagen" value="">
            <br>
            <br>
            <br>
            <label for="enviar"></label>
            <input type="submit" name="submit" value="Enviar">
        </form>
        {% endblock %}
    </body>
</html>